<div class="circle-heart">
  <div class="circle-heart--circle"></div>
  <p class="circle-heart--heart">&#10084; </p>
  <p class="circle-heart--shadow">&#10084; </p>
</div>

<div class="title-image">
  <img src="assets/img/17.png" alt="head logo">
</div>


<div class="title-top">
  <span>De 17 belangrijkste nieuwsmomenten van 2017 volgens nu.nl</span>
</div>

<div class="scroll-ell">
  <div>Scroll pm te lezen</div>
  <div class="scroll-ell--btn" (click)="scrollToContent()">
    <p>&#10093;</p>
  </div>
</div>

<app-news *ngFor="let n of news" [news]="n"></app-news>

<div id="share-menu" class="share-menu">
  <div class="share-menu--title"><span>Deel op social media</span></div>
  <div class="share-menu--btns">
    <i class="fab fa-viber"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fas fa-link"></i>
  </div>
  <div class="share-menu--copyright">Copyright 2018</div>
</div>
